*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
}
nav{
    background-color: #ff8a3d;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
}
nav li:first-child{
    margin-right: auto;
}
nav li:first-child a{
    font-family: "Fredoka" , sans-serif;
    font-size: 22px;
    font-weight: 600; 
}
nav button{
    padding: 8px 18px;
    border: 2px solid #ff8a3d;
    border-radius: 8px;
    background-color: white;
    margin-right: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ff8a3d;
    cursor: pointer;
    transition: 0.2s ease;
}
nav button:hover{
    background-color: #ff8a3d;
    color: white;
}
.logo img{
    height: 24px;
    width: auto;
}
.logo a{
    display: flex;
    align-items: center;
    gap: 8px;
}
.logo{
    margin-left: 20px;
}
/*Deri ketu ishte dizajnimi i Navigation Bar*/
/*Fillon Home*/
.home{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 20px;
    background-color: white;
    gap: 50px;

}
.home.teksti{
    flex: 45%;
    max-width: 350px;
}
.home.imazhi1{
    flex: 45%;
    max-width: 350px;
}
.home.imazhi{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}
.teksti h1{
    margin-left: 40px;
    font-family: "Fredoka" , sans-serif;
    font-size: 5rem;
    margin-bottom: 15px;
}
.teksti p{
    font-family:"Fredoka" , sans-serif;
    margin-left: 40px;
    font-size: 3rem;
    line-height: 1.5;
}
#butoni{
    background-color: #ff8a3d;
    color: white;
    font-size: 2rem;
    font-family:"Poppins", sans-serif;
    padding: 30px 45px;
    border-radius: 50px;
    margin-top: 20px;
    margin-left: 40px;
    border: #ff8a3d;
    cursor: pointer;
}
#butoni:hover{
    background-color: white;
    color: #ff8a3d;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}
/*Mbaron Home*/
/*Fillon footer*/
footer{
    background-color: #ff8a3d;
    color: white;
    padding: 20px 20px;
}
.kuti {
    column-gap: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
}
.rreshti{
    display: flex;
    font-family:"Poppins", sans-serif;
    align-items: center;
    gap: 10px;
}
#imfoot{
    width: 45px;
}
.emri {
    font-size: 2rem;
    font-weight: bold;
}
.shkrimi{
    margin-top: 14px;
    max-width: 450px;
    line-height: 1.6;
    font-size: 1.5rem;
    font-family:"Fredoka" , sans-serif;
}
.kolonapar{
    font-family:"Poppins", sans-serif;
}
.kolonapar ul{
    font-size: 25px;
    list-style-type: none;
}
.kolonadyt ul{
    font-size: 25px;
    list-style-type: none;
}
.kolonatret ul{
    font-size: 25px;
    list-style-type: none;
}
.kolonadyt{
    font-family:"Poppins", sans-serif;
}
.kolonatret{
    font-family:"Poppins", sans-serif;
}
.titullipar{
    font-family: "Fredoka" , sans-serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5px;
}
.titullidyt{
    font-family:"Fredoka" , sans-serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5px;
}
.titullitret{
    font-family: "Fredoka" , sans-serif;
    line-height: 1.5;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 5px;
}
.fundi{
    font-family: "Poppins", sans-serif;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    font-size: 0.9rem;
}
.ikonat{
    display: flex;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin-right: 10px;
    gap: 10px;
}
/*Mbaron footer*/
/*Fillon shiriti*/
.ab{
    text-align: center;
    padding: 60px 20px;
    background-color: white;
    box-shadow: 0px -8px 20px rgba(0,0,0,0.06),
                0px -8px 20px rgba(0,0,0,0.06);
}
.ab h2{
    font-size: 70px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    font-family:"Fredoka" , sans-serif;
}
.ab .pershkrimi{
    font-size: 35px;
    margin:10px;
    line-height: 1.6;
    color: rgb(95, 85, 85);
    font-family:"Poppins", sans-serif;
}
.stats{
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: 20px;
}
.box{
    text-align: center;
}
.box .nr{
    font-size: 70px;
    font-weight: bold;
    color: #ff8a3d;
}
.box .pershkrimitjt{
    font-size: 35px;
    color: rgb(95, 85, 85);
    margin-top: 5px;
    font-family:"Poppins", sans-serif;
}
/*Ketu fillon pjesa e section meet our dogs*/
.dogs-row{
    display: flex;
   /* justify-content: center;*/
    gap: 16px;
    overflow-x: auto;
    padding-bottom: 10px;
    flex-wrap: nowrap;
    scrollbar-width: none;
}
.dogs-row::-webkit-scrollbar{
    height: 0;
}
.dogs{
    background-color: #ffffff;
    border-radius: 12px;
    flex: 0 0 200px;
    padding: 12x;
    text-align: center;
    border: 5px solid #ff8a3d;
}
.dogs img{
    width: 100%;
    height: 260px;
    object-fit: cover;
    border-radius: 12px;
}
.dogs h3{
    font-family: "Fredoka" , sans-serif;
    margin: 10px 0 2px;
    font-size: 22px;
    color: black;
}
.dogs p{
    font-family: "Poppins", sans-serif;
    margin: 0 0 10px;
    font-size: 15px;
    color: rgb(95, 85, 85);
}
#h2-dogs{
   font-family: "Fredoka" , sans-serif;
   font-size: 70px;
   margin-bottom: 20px;
   text-align: center;
}
/*Pjesa e shiritit ready to change*/
.adopt-hero {
    background-color: white;
    padding: 80px 30px;
    text-align: center;
    color: black;
    margin: 0;
    border-radius: 0;
    box-shadow:
        0px -8px 20px rgba(0,0,0,0.06);
}
.adopt-title{
    font-family: "Fredoka" , sans-serif;
    font-size: 70px;
    margin-bottom: 20px;
    font-weight: 700;
}
.adopt-text{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    max-width: 1300px;
    margin: 0 auto 30px;
    line-height: 1.6;
    color: rgb(95, 85, 85);
}
.adopt-btn{
    padding: 14px 32px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50px;
    border: 2px solid #e3d8ca;
    background: #ff8a3d;
    color: white;
}
.adopt-btn:hover{
    color: #ff8a3d;
    background: #ffffff;
    border-color: #ffffff;
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}